{{#each shoppingCart.items as |item|}}
  <p>{{item.title}} -- ${{item.cost}}</p>
  <button class="btn btn-warning btn-sm" {{action "remove" item}}>Remove Item</button>
{{/each}}
<hr>
<button class="btn btn-danger btn-sm" {{action "empty" item}}>Empty Cart</button>
<hr>
<p>Total: ${{shoppingCart.currentTotal}}</p>
