{{#if addNewQuestion}}
  <h1>New Question</h1>
  <div class="">
    <form class="">
      <div class="form-group">
        <label for="content">Question</label>
        {{textarea value=content id="content"}}
      </div>

      <div class="form-group">
          <label for="firstName">Supplicant's First Name</label>
          {{input value=firstName id="firstName"}}
      </div>

      <div class="form-group">
          <label for="lastName">Supplicant's Last Name</label>
          {{input value=lastName id="lastName"}}
      </div>

      <div class="form-group">
        <label for="note">Notes</label>
        {{input value=note id="note"}}
      </div>

      <div class="form-group">
        <label for="tag" id="tag">Tag</label>
        {{input value=tag id="tag"}}
      </div>

      <button {{action 'saveQuestion'}}>Save</button>
    </form>
  </div>
{{else}}
  <button class="btn btn-lg" {{action 'showQuestionForm'}}>New Question</button>
{{/if}}
