<h2>Nietzsche Shop</h2>
<hr>
<h4>{{product.title}}</h4>
  <button class="btn btn-lg btn-success" {{action 'addToCart' product}}>Add to Cart</button>
  <p>Cart:{{display-cart}}</p>
<hr>
<h5>$ {{product.cost}}.</h5>
  <p>{{product.description}}</p>
<hr>
  <img class="product-detail-img" src={{product.image}} alt={{product.title}} />
