<h2>Nietzsche Shop</h2>
<hr>
{{product.title}}

<button class="btn btn-lg btn-success" {{action 'addToCart' product}}>Add to Cart</button>
<p>Cart:{{display-cart}}</p>
<hr>
{{product.description}}
{{product.cost}}
<img class="product-detail-img" src={{product.image}} alt={{product.title}} />
