<h2>Question: {{question.content}}</h2>
<h3>Author: {{question.author}}</h3>
<h3>Note: {{question.note}}</h3>
<h3>Tags: {{question.tag}}</h3>
<br>
<button {{action 'delete' question}}>Delete</button>
