{{#if updateQuestionForm}}
  <h3>Update {{question.content}}</h3>
  <div class="">
    <form class="">
      <div class="form-group">
        <label for="content">Question</label>
        {{input value=question.content id="content"}}
      </div>

      <div class="form-group">
        <label for="firstName">First Name</label>
        {{input value=question.firstName  id="firstName "}}
      </div>

      <div class="form-group">
        <label for="lastName">Last Name</label>
        {{input value=question.lastName id="lastName"}}
      </div>

      <div class="form-group">
        <label for="note">Note</label>
        {{input value=question.note id="note"}}
      </div>

      <div class="form-group">
        <label for="tag">Tag</label>
        {{input value=question.tag id="tag"}}
      </div>

      <button class="btn btn-lg" {{action 'update' question}}>Save</button>
    </form>
  </div>
{{else}}
  <hr>
  <button class="btn btn-lg" {{action 'updateQuestionForm'}}>Update</button>
{{/if}}
