{{#if updateQuestionForm}}
  <h3>Update {{question.content}}</h3>
  <div class="">
    <form class="">
      <div class="form-group">
        <label for="content">Question</label>
        {{input value=content id="content" placeholder=question.content}}
      </div>

      <div class="form-group">
        <label for="author">Author</label>
        {{input value=author id="author" placeholder=question.author}}
      </div>

      <div class="form-group">
        <label for="note">Note</label>
        {{input value=note id="note" placeholder=question.note}}
      </div>

      <div class="form-group">
        <label for="tag">Tag</label>
        {{input value=tag id="tag" placeholder=question.tag}}
      </div>

      <button {{action 'update' question}}>Save</button>
    </form>
  </div>
{{else}}
  <button {{action 'updateQuestionForm'}}>Update</button>
{{/if}}
