<h2>More information about {{model.content}} by {{model.author}}</h2>

{{question-detail question=model destroyQuestion="destroyQuestion"}}

{{update-question question=model update="update"}}

{{new-answer question=model saveAnswer="saveAnswer"}}

{{#each model.answers as |answer|}}
  {{answer-tile answer=answer}}
{{/each}}
